g*{
   margin: 0px;
   padding: 0px;
  }
  body {
    
    background-image: url(../img/a3.jpeg);
  
      }
   nav, section, aside, footer{
    display: block;
    font-family: sans-serif;
  }
  
  header{
   font-size: 40px;
   font-family:sans-serif;
   font-style:initial;
  /* text-shadow: 5px 2px 4px rgb(243, 242, 247);*/
   text-align: center;
   background-color: #8a2be2;
   color:red;
  }

  head{
   width: 50px
  }
  
  #section {
    border: 1px solid gray;
    border-radius: 30px;
  }
  #aside {
    border: 1px solid gray;
  }
  #footer {
   
    clear: both;
    position: absolute;
    bottom: 0;
    color: black;
  }
  
  
  
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  
  [class*="col-"] {
      float: left;
      /* padding: 15px; */
      /* border: 1px solid red; */
  }
  
  .row::after {
      content: "";
      clear: both;
      display: table;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: rgb(180, 168, 248);
  }
  
  .lg{
    
      font-family: 'Open Sans Condensed', sans-serif;
      position: relative;
      margin-top: 0px;
      text-align: center;
    
      
  }
  input{
    font-family: 'Open Sans Condensed', sans-serif;
    text-decoration: none;
    position: relative;
    width: 80%;
    display: block;
    margin: 9px auto;
    font-size: 17px;
    color: rgb(15, 15, 15);
    padding: 8px;
    border-radius: 6px;
    border: none;
    background: rgba(3,3,3,.1);
    
  }
  div.gallery {
   margin: 5px;
   border: 1px solid #ccc;
   float: left;
   width: 180px;
 }
 
 div.gallery:hover {
   border: 1px solid #777;
 }
 
 div.gallery img {
   width: 100%;
   height: auto;
 }
 
 div.desc {
   padding: 15px;
   text-align: center;
 }
 .pp{
    float: left;
    width: 40px;
    height: 40px;
 }
 .per{
    text-align: center;
    color: rgb(15, 15, 218);
    text-transform:uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }